<header class="site-header">
  <div class="header-container">
    <a class="site-logo" href="{{ site.url }}/">
      <img src="{{ site.url }}/assets/images/logo-192.png" alt="PetStorie Logo" class="logo-img" width="42" height="42">
      <span class="site-title">{{ site.title }}</span>
    </a>
    <nav class="nav" aria-label="Primary navigation">
      <a href="{{ site.url }}/dog-breeds/">Breed Guides</a>
      <a href="{{ site.url }}/which-dog-should-i-get/">Choose a Dog</a>
      <a href="{{ site.url }}/dog-breed-comparisons/">Compare Breeds</a>
      <a href="{{ site.url }}/dog-cost-calculator/">Costs &amp; Resources</a>
      <a href="{{ site.url }}/archive/">All Guides</a>
    </nav>
  </div>
</header>
