<header class="site-header">
  <div class="header-container">
    <a class="site-logo" href="{{ site.url }}/">
      <img src="{{ site.url }}/assets/images/logo-192.png" alt="PetStorie Logo" class="logo-img" width="42" height="42">
      <span class="site-title">{{ site.title }}</span>
    </a>
    <nav class="nav" aria-label="Primary navigation">
      <a href="{{ site.url }}/">Home</a>
      <a href="{{ site.url }}/dog-breeds/">Dog Breeds</a>
      <a href="{{ site.url }}/which-dog-should-i-get/">Which Dog?</a>
      <a href="{{ site.url }}/dog-breed-selector/">Selector</a>
      <a href="{{ site.url }}/dog-breed-finder/">Breed Finder</a>
      <a href="{{ site.url }}/best-dogs-for-first-time-owners/">First-Time</a>
      <a href="{{ site.url }}/best-family-dogs/">Family Dogs</a>
      <a href="{{ site.url }}/dog-breed-comparisons/">Comparisons</a>
      <a href="{{ site.url }}/dog-cost-calculator/">Costs</a>
      <a href="{{ site.url }}/guardian-dog-breeds-compared/">Guardian Dogs</a>
      <a href="{{ site.url }}/archive/">All Guides</a>
    </nav>
  </div>
</header>
