<header class="site-header">
  <div class="header-container">
    <a class="site-logo" href="{{ site.url }}/">
      <img src="{{ site.url }}/assets/images/logo.png" alt="PetStorie Logo" class="logo-img">
      <span class="site-title">{{ site.title }}</span>
    </a>
    <nav class="nav" aria-label="Primary navigation">
      <a href="{{ site.url }}/">Home</a>
      <a href="{{ site.url }}/small-dog-breeds/">Small Dogs</a>
      <a href="{{ site.url }}/best-family-dogs/">Family Dogs</a>
      <a href="{{ site.url }}/apartment-dog-breeds/">Apartment Dogs</a>
      <a href="{{ site.url }}/low-shedding-dog-breeds/">Low-Shedding</a>
      <a href="{{ site.url }}/archive/">All Guides</a>
    </nav>
  </div>
</header>
